@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NanumSquareNeo-Variable';
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #111;
}
li {
  list-style: none;
}
.inner {
  padding: 20px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* ----header---------- */
header {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 999;
  top: -10%;
  transition: all 1s;
  color: #fff;
  font-weight: bold;
}
header a {
  color: #fff;
  font-size: 23px;
}
header nav ul li {
  float: left;
  margin-left: 30px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.go-home {
  margin-right: 20px;
}
.go-home img {
  width: 40px;
  display: block;
}
/* ------------ */
.main {
  height: 9500px;
}
.section1 {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  /* position: sticky; */
  overflow: hidden;
}
.section1 video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%, -50%, 0);
  display: block;
}
.section1-cover-title {
  position: absolute;
  color: aliceblue;
  /* font-size: 100px; */
  font-size: 4vw;
  top: 45%;
  right: 0;
  white-space: nowrap;

  transform: scale(4, 4);
  opacity: 0;
  font-weight: bold;
}
.flip {
  display: none;
  max-width: 700px;
}
.flip__wrapper p {
  opacity: 0;
  text-align: center;
}

.section1-main-logo-motion {
  width: 100%;
}
.section1-main-logo {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: -40%;
  transition: all 1s;
}
.section1-main-logo h2 {
  font-size: 15vw;
  text-align: center;
  color: #fff;
}
/* section2  */
.section-wrap {
  position: relative;
}
.section2 {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section2-inner {
  height: 100%;
  display: flex;
  width: 100%;

  align-items: center;
}
.section2-text-box {
  left: 33%;
  text-align: left;
  position: relative;
  width: 100%;
  height: 500px;
}
.section2-title {
  color: #fff;
  font-size: 40px;
  line-height: 70px;
  position: absolute;
  transition: all 1s;
  top: 0;
}
.section2-des {
  margin-top: 50px;
  color: #fff;
  font-size: 30px;
  line-height: 55px;
  text-align: left;
  position: absolute;
  bottom: 0;
}
.section2-des span {
  padding-bottom: 5px;

  border-bottom: 2px solid rgb(255, 255, 255);
}

.service {
  width: 100%;
  font-size: 30px;
  padding: 20px;
  position: sticky;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  font-weight: bold;
  z-index: 999;
  transition: all 1s;
}
/* section3 */

.section3 {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section3-inner {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
}
.section3-text-box {
  text-align: left;
  left: 33%;
  position: relative;
  width: 100%;
  height: 580px;
}
.section3-title {
  color: #fff;
  font-size: 40px;
  line-height: 70px;
  position: absolute;
  transition: all 1s;
  top: 0;
}
.section3-des {
  margin-top: 50px;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
}
.section3-des span {
  padding-bottom: 5px;

  border-bottom: 2px solid rgb(255, 255, 255);
}
/* section4 */

.section4 {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section4-inner {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
}
.section4-text-box {
  text-align: left;
  position: relative;
  width: 100%;
  left: 33%;
  height: 370px;
}
.section4-title {
  color: #fff;
  font-size: 40px;
  line-height: 70px;
  position: absolute;
  transition: all 1s;
  top: 0;
}
.section4-des {
  margin-top: 50px;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
}
.section4-des span {
  padding-bottom: 5px;

  border-bottom: 2px solid rgb(255, 255, 255);
}
/* section - video */
#video {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transition: all 1s;
}
.video__box {
  position: -webkit-sticky;
  position: relative;
  top: 0;
  height: calc(var(--vh) * 1px);
  overflow: hidden;
  transform: translateZ(0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.video__image {
  width: 100%;
  max-width: 1000px;
}
.video__image .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video__image-item {
  position: relative;
}
.video__image-area {
  position: relative;
  padding-top: 56.625%;
  width: 100%;
}
.video__image .poster {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.video__image .video__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
